@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Northwind Categories</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryID</td>
                    <td>@category.CategoryName</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
